<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        <strong>Staging Server Node JS Application Deployed Successfully</strong>
    </body>
</html>
